/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{font-family:微軟正黑體;}
.content{
    width: 1024px;
    margin: 0 auto;
    background:#fafafa;
}
.title_blue{
color:#1736dc;
font-size: 40px;
font-weight: bold;
text-align: center;
}
.title_pink{
    color:#fb56bf;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.header{
    background: url(https://upload.cc/i1/2021/05/30/mAg1zH.png) no-repeat;
    display: flex;
    margin-bottom: 50px;
    position: relative;
    height: 350px;
}
.header ul{
    position: absolute;
    top:50px;
    right:35%;
}
.selfie_Name_and_tiele{
    position: absolute;
    top:50px;
    left:15%;
}
.selfie_Name_and_tiele h1{
font-size: 50px;
text-align: center;
margin: 20px 0 20px 0;
}
.selfie_Name_and_tiele h3{
font-size: 14px;
text-align: center;
color:gray ;
margin:10px 0 10px 0;    
}
.connect_info li{
    padding-bottom: 15px;
}
.connect_info li{
    display: flex;
    align-items: center;
}
.connect_info li a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 18px;   
}
.connect_info li a:hover{
    color: red;
}
.Modern_Web_Skills{
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
}
.Modern_Web_Skills_list{
    width: 320px;
    border-radius:10px ;
    border: rgb(211, 209, 209) 1px solid;
    box-shadow: 0px 1px 1px gray;  
    background: white;
    position:relative;
    overflow: hidden;  
}
.Modern_Web_Skills h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}
.Modern_Web_Skills li ul{
    padding-left:20px;
}
.Modern_Web_Skills li ul li{
    margin: 5px 0px 5px 30px;
    font-size: 12px;
}
.skillpicture{
    
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacebar{
    margin-top: 40px;
}
.orange_bar{
    height: 7px;
    width: 320px;
    position: absolute;
    background: #f58d23;
    bottom: 0px;
}
.green_bar{
    height: 7px;
    width: 320px;
    position: absolute;
    background: #539e43;
    bottom: 0px;
}
.indigo_bar{
    height: 7px;
    width: 320px;
    position: absolute;
    background: #6762a6;
    bottom: 0px; 
}

.Experience{
position: relative;
margin:30px 0 30px 0;
}
/*使用偽元素貼上灰色六角形與底部灰色線條*/
/*灰色六角形*/
.Experience::before{
    position: absolute;
    top:0;
    right:48.5%;
    content:url(https://upload.cc/i1/2021/05/30/ongqi0.png);
}
/*灰色底線*/
.Experience::after{
    content:'';
    height: 4px;
    width: 50px;
    background: #d8d8d8;
    position: absolute;
    bottom:0;
    right: 47.75%;
}

.Experience_list{
    display:flex;
    flex-direction: column;
    position: relative;
    padding:40px 100px 10px 100px;
}
/*利用ul的偽元素增加直灰線*/
.Experience_list::before{
    position: absolute;
    top:0px;
    right:50%;
    content: '';
    width: 3px;
    height: 100%;
    background: #d8d8d8;
    
}
.Experience_list li{
    border:1px solid #fb56bf;
    border-radius: 5px;
    background:white;
    width: 40%;
    padding:20px;
    margin:20px 0px 20px 0px;
    position: relative;

}

/*使用nth-child()使li交錯左右排列*/
.Experience_list li:nth-child(odd){
align-self: flex-end;

}
.Experience_list li:nth-child(even){
align-self: flex-start;

text-align: right;
}

/*使用li偽元素加入粉色六角形*/
.Experience_list li::before{
    position: absolute;
    content: url(https://upload.cc/i1/2021/05/30/eymrIu.png);
    top:-10px;
}
/*使用*nth-child()使偽元素的六角形在中間*/
.Experience_list li:nth-child(odd)::before{
    left:-55px;
}
.Experience_list li:nth-child(even)::before{
    right:-53px;    
}
.Experience_list span{
    padding:5px 0 5px 0 ;
}
.Experience_list h2{
    color:#8e1f3d ;
    padding:10px 0 10px;
    font-size: 24px;
    font-weight: bold;
}
.Experience_list h3{
    font-size: 20px;
    padding:10px 0 10px;
}
.Experience_list p{
    color:#a6a6a6;
}
.worklist{
    display:flex;
    justify-content: space-around;
    margin: 20px 0 30px 0;
}
.worklist a{
    display:block;
    text-decoration: none;
}
.worklist li{
    background: white;
    border-radius: 5px;
    border: transparent;
    z-index: 1;
}
.workpicture{/*共同屬性*/
    width: 300px;
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
}
.worklist li:hover{
    box-shadow: 2px 2px 2px gray;
}
.worklist h3{
    font-size: 18px;
    font-weight: bold;
    padding:10px;
    color:black;
}
.worklist p{
    color:gray;
    padding:10px;
}
.workpicture1{
    background: #fdb4e3;
}
.workpicture2{
    background: #424242;
}
.workpicture3{
    background:#8ad7fa;
}
.About_me{
    margin:30px 0 30px 0 ;
    padding:0 50px 0 50px;
    display: flex;
    justify-content: space-around;
}
.About_me_picture{
    padding:0 25px 0 25px;
}
.About_me_title{
    padding:20px 0 20px;
}
.About_me_picture img{
    width: 300px;
}
.footer{

    background: url(https://upload.cc/i1/2021/05/30/KYIVUq.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer h2{
    font-weight: bold;
    padding:38px 0 38px 0;
}